In [11]:
!pip install bs4
from bs4 import BeautifulSoup
import requests as req
import pandas as pd
r=req.get("https://visaguide.world/asia/#google_vignette")
s=BeautifulSoup(r.text,"html.parser")
ta=s.find_all("table")
table=ta[1]


cols=ta[1].find_all("th")
columes=[]
for i in cols:
    columes.append(i.text)


rows=ta[1].find_all("td")
country=[]
for i in rows[::4]:
    country.append(i.text.strip())

capital=[]
for i in rows[1::4]:
    capital.append(i.text.strip())

area=[]
for i in rows[2::4]:
    area.append(i.text.strip())

population=[]
for i in rows[3::4]:
    population.append(i.text.strip())
dic={}
dic.update({columes[0]:country})
dic.update({columes[1]:capital})
dic.update({columes[2]:area})
dic.update({columes[3]:population})

data=pd.DataFrame(dic)
data.to_csv("listofcountriesinasia.csv")
data

Requirement already satisfied: bs4 in c:\users\hari krishna\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\hari krishna\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\hari krishna\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)

,Country,Capital,Area km2,Population (2021)
0,Afghanistan,Kabul,"652,864","39,835,428"
1,Armenia,Yerevan,"29,743","2,968,127"
2,Azerbaijan,Baku,"86,600","10,223,342"
3,Bahrain,Manama,760,"1,748,296"
4,Bangladesh,Dhaka,"147,570","166,303,498"
5,Bhutan,Thimphu,"38,394","779,898"
6,Brunei,Bandar Seri Begawan,"5,765","441,532"
7,Cambodia,Phnom Penh,"181,035","16,946,438"
8,China (PRC),Beijing,"9,596,961","1,444,216,107"
9,East Timor,Dili,"14,874","1,343,873"
10,Georgia,Tbilisi,"69,700","3,979,765"
11,Hong Kong,City of Victoria,"2,755","7,552,810"
12,India,New Delhi,"3,287,263","1,393,409,038"
13,Indonesia,Jakarta,"1,904,569","276,361,783"
14,Iran,Tehran,"1,648,195","85,028,759"
15,Iraq,Baghdad,"438,317","41,179,350"
16,Israel,Jerusalem (disputed),"20,770","8,789,774"
17,Japan,Tokyo,"377,915","126,050,804"
18,Jordan,Amman,"89,342","10,269,021"
19,Kazakhstan,Nur-Sultan,"2,724,900","18,994,962"
20,Kuwait,Kuwait City,"17,818","4,328,550"
21,Kyrgyzstan,Bishkek,"199,951","6,628,356"
22,Laos,Vientiane,"236,800","7,379,358"
23,Lebanon,Beirut,"10,400","6,769,146"
24,Macau,Macau,115,"658,394"
25,Malaysia,Kuala Lumpur,"329,847","32,776,194"
26,Maldives,Mal√©,298,"543,617"
27,Mongolia,Ulaanbaatar,"1,564,116","3,329,289"
28,Myanmar,Naypyidaw,"676,578","54,806,012"
29,Nepal,Kathmandu,"147,181","29,674,920"
30,North Korea,Pyongyang,"120,538","25,887,041"
31,Oman,Muscat,"309,500","5,223,375"
32,Pakistan,Islamabad,"881,913","225,199,937"
33,Palestine,Ramallah,"6,220","5,222,748"
34,Qatar,Doha,"11,586","2,930,528"
35,Russia,Moscow,"17,098,242","145,734,038"
36,Saudi Arabia,Riyadh,"2,149,690","35,340,683"
37,Singapore,Singapore,697,"5,896,686"
38,South Korea,Seoul,"100,210","51,305,186"
39,Sri Lanka,Sri Jayawardenepura Kotte,"65,610","21,497,310"
40,Syria,Damascus,"185,180","18,275,702"
41,Taiwan,Taipei,"36,193","23,855,010"
42,Tajikistan,Dushanbe,"143,100","9,749,627"
43,Thailand,Bangkok,"513,120","69,950,850"
44,The Philippines,Manila,"343,448","111,046,913"
45,Turkey,Ankara,"783,562","85,042,738"
46,Turkmenistan,Ashgabat,"488,100","6,117,924"
47,United Arab Emirates,Abu Dhabi,"83,600","9,991,089"
48,Uzbekistan,Tashkent,"447,400","33,935,763"
49,Vietnam,Hanoi,"331,212","98,168,833"
50,Yemen,Sana‚Äôa,"527,968","30,490,640"